#biloute {
  display: flex;
  justify-content: space-around;
}

.form-action {
  width: 50vh;
  justify-content: center;
  margin: auto 0 auto ;
  margin-top: 30vh;
}

.camel {
  width: 400px;
  height: 400px;
  margin: auto;

}
