
<div class="container" id="biloute">
  <div class="form-action">
      <%= render partial: 'form' %>
  </div>
     <div class="camel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://i.imgur.com/zyw2f1V.gif'); background-size: 100% 100%;">
     </div>
</div>
